@import "@styles/variables";
@import "@styles/2025/colors";

@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-Variable.woff2) format("woff2");
}

$font-sans: "Satoshi", sans-serif;

@mixin text-default-body {
  font-family: $font-sans;
  color: $colors-2025-blue;
  font-weight: $font-weight-medium;

  @include text-lg;

  @include for_breakpoint(sm) {
    @include text-xl;
  }
}
