@import "tailwindcss";

/* Global utility classes to be re-used across seasons */
@theme inline {
  --font-primary: var(--theme-font-primary);
}

@layer base {
  :root {
    --font-primary: var(--theme-font-primary);
  }

  /* 2025 themes */
  [data-theme="2025"] {
    --theme-font-primary: var(--font-satoshi);

    --blue: #354f99;
    --tan: #fffced;
    --pink: #f984a9;
    --peach: #fac9b4;
    --sky: #a6cdf6;
  }
}
